@import 'variables';

body {
  font-family: $main-font;
  background-color: $background-color;
  margin: 0;
}

// HEADER
.main-header {
  background-color: $primary-color;
  color: $white;
  padding: $padding-medium;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.main-nav a {
  color: $white;
  text-decoration: none;
}

// HERO
.hero-section {
  padding: 40px;
  text-align: center;
}

// CARDS
.card-grid {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.course-card {
  background: $white;
  padding: 20px;
  border-radius: $border-radius;
}