<%- include('partials/header', { title: 'Courses' }) %>

<h2>All Courses</h2>

<div class="card-grid">
    <div class="course-card">
        <h4>JavaScript</h4>
        <p>Learn JS basics</p>
    </div>

    <div class="course-card">
        <h4>Databases</h4>
        <p>Learn PostgreSQL</p>
    </div>
</div>

<%- include('partials/footer') %>